* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 900px;
    /* border: 1px solid black; */
    margin: auto;
    position: relative;
}

header {
    height: 105px;
    width: 100%;
    padding: 70px 0 0 0;
    background-color: #909090;

}

.top-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.container > img {
    position: absolute;
    top: 33px;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.top-nav > ul > li {
    width: auto;
    margin: 0 6px;
    padding-bottom: 10px;
}
.bottom-nav > ul > li {
    width: auto;
    margin: 0 3px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 35px;
    right: 0%;
    background-image: url("texture_denim.jfif");
    background-color: #909090;
    /* margin-left: 5px; */
    /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5); */
    z-index: 1;
    white-space: nowrap;

}

ul > li > a, .dropdown-content > a {
    color: white;
    font-weight: bold;
    display: block;
}

.dropdown-content > a {
    border: solid 0.5px lightgray;
    padding: 4px;
}

a {
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
    color: #005cad;
.top-nav > ul > li > a:hover, *****
} */

 .dropdown:hover > a {
    color: #005cad;
    text-decoration: underline;

}

.dropdown-content > a:hover {
    color: #005cad;
    background-color: lightgray;
    text-decoration: underline;

}

.dropdown:hover > .dropdown-content {
    display: initial;
}

.row {
    width: 100%;
    border: 1px solid black;
}

footer {
    height: 38px;
    width: 900px;
    position: fixed;
    bottom: 0;
    background-color: #909090;
    padding-top: 15px;
}

.bottom-nav {
    display: flex;
    list-style-type: none;
    margin: auto;
}

.bottom-nav > ul > li > a {
    font-size: 13px;
}

.bottom-nav > ul > li > a.hesder {
    color: red;
}

.bottom-nav:hover > ul > li> a:hover {
    color: #005cad;
    text-decoration: underline;

}